---
import Slide from "../../components/Slide.astro";
import gifBreathe from "./gif-breathe.gif";
---

<section>
	<Slide>
		<h1>Ça va ?</h1>
	</Slide>

	<Slide>
		<img data-src={gifBreathe} alt="gif respire" />
		<p>On respire, c'est pas fini...</p>
	</Slide>
</section>

<style>
	img {
		height: 45vh;
	}
	p {
		font-size: 1.5em;
		margin-top: 1em;
	}
</style>
