---
import Slide from "../../../components/Slide.astro";

const { title } = Astro.props;
const subSectionTitle = "Loaders";
---

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<div class="loader-container">
		<span class="loader"></span>
		<p>Nous cherchons le meilleur itinéraire...</p>
	</div>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<div class="skeleton-container">
		<span class="skeleton-loader"></span>
		<span class="skeleton-loader"></span>
		<span class="skeleton-loader"></span>
	</div>
</Slide>

<style lang="scss">
	// loaders from https://cssloaders.github.io/
	.loader-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: scale(2);
		font-size: 0.5em;
	}
	.loader {
		position: relative;
		font-size: 20px;
		width: 5.5em;
		height: 5.5em;
		transform: rotate(20deg);
	}
	.loader:before {
		content: "";
		position: absolute;
		transform: translate(-50%, -50%) rotate(45deg);
		height: 100%;
		width: 4px;
		border-radius: 0.5em;
		background: var(--font-color-default);
		left: 50%;
		top: 50%;
	}
	.loader:after {
		content: "";
		position: absolute;
		left: 0.2em;
		bottom: 0.18em;
		width: 1em;
		height: 1em;
		background-color: color(primary);
		border-radius: 15%;
		animation: rollingRock 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
	}
	@keyframes rollingRock {
		0% {
			transform: translate(0, -1em) rotate(-45deg);
		}
		5% {
			transform: translate(0, -1em) rotate(-50deg);
		}
		20% {
			transform: translate(1em, -2em) rotate(47deg);
		}
		25% {
			transform: translate(1em, -2em) rotate(45deg);
		}
		30% {
			transform: translate(1em, -2em) rotate(40deg);
		}
		45% {
			transform: translate(2em, -3em) rotate(137deg);
		}
		50% {
			transform: translate(2em, -3em) rotate(135deg);
		}
		55% {
			transform: translate(2em, -3em) rotate(130deg);
		}
		70% {
			transform: translate(3em, -4em) rotate(217deg);
		}
		75% {
			transform: translate(3em, -4em) rotate(220deg);
		}
		100% {
			transform: translate(0, -1em) rotate(-225deg);
		}
	}

	.skeleton-container {
		display: flex;
		gap: 40px;
		transform: scale(1.5); // loader code is in pixels, not responsive
	}

	.skeleton-loader {
		box-shadow: var(--shadow-sm);
		border-radius: 8px;
		width: 215px;
		height: 220px;
		background: linear-gradient(
				0.25turn,
				transparent,
				rgba(255, 255, 255, 0.4),
				transparent
			),
			linear-gradient(color(gray, 300), color(gray, 300)),
			linear-gradient(color(gray, 300), color(gray, 300)),
			linear-gradient(color(gray, 300), color(gray, 300));
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
		background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
		animation: loading 1.5s infinite;
	}

	@keyframes loading {
		to {
			background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
		}
	}
</style>
