---
import Slide from "../../../components/Slide.astro";

const { title } = Astro.props;
const subSectionTitle = "Animation SVG";
---

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<!-- Copyright (c) 2023 by Mandy (https://codepen.io/iNeedAdult/pen/ZEQqyMg) -->

<span class="gradient"></span>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" xml:space="preserve">
  <g id="road1">
    <line id="XMLID_129_" class="st1" x1="214.5" y1="740.7" x2="75.1" y2="740.7" />
    <line id="XMLID_187_" class="st1" x1="431.5" y1="740.7" x2="232" y2="740.7" />
    <line id="XMLID_325_" class="st1" x1="792.5" y1="740.7" x2="774.4" y2="740.7" />
    <line id="XMLID_3_" class="st1" x1="896.5" y1="740.7" x2="809.9" y2="740.7" />
    <line id="XMLID_5_" class="st1" x1="918" y1="740.7" x2="911.5" y2="740.7" />
    <line id="XMLID_324_" class="st1" x1="755" y1="740.7" x2="477" y2="740.7" />
    <line id="XMLID_190_" class="st1" x1="480.7" y1="740.7" x2="447" y2="740.7" />
  </g>
  <g id="road2">
    <line id="XMLID_129_" class="st1" x1="214.5" y1="740.7" x2="75.1" y2="740.7" />
    <line id="XMLID_187_" class="st1" x1="431.5" y1="740.7" x2="232" y2="740.7" />
    <line id="XMLID_325_" class="st1" x1="792.5" y1="740.7" x2="774.4" y2="740.7" />
    <line id="XMLID_3_" class="st1" x1="896.5" y1="740.7" x2="809.9" y2="740.7" />
    <line id="XMLID_5_" class="st1" x1="918" y1="740.7" x2="911.5" y2="740.7" />
    <line id="XMLID_324_" class="st1" x1="755" y1="740.7" x2="477" y2="740.7" />
    <line id="XMLID_190_" class="st1" x1="480.7" y1="740.7" x2="447" y2="740.7" />
  </g>
  <g id="sun">
    <g id="XMLID_967_">
      <g id="XMLID_1056_" class="st2">
        <path id="XMLID_1057_" class="st3" d="M236.1,471.1c-23.1-23.4-37.3-55.6-37.3-91c0-71.6,58.1-129.7,129.7-129.7
        s129.8,58,129.8,129.6l-99.9-76L236.1,471.1z" />
      </g>
      <g id="XMLID_1052_">
        <line id="XMLID_1055_" class="st4" x1="328.6" y1="215.8" x2="328.6" y2="229.8" />
        <line id="XMLID_1054_" class="st4" x1="328.6" y1="189.8" x2="328.6" y2="204.4" />
        <line id="XMLID_1053_" class="st4" x1="328.6" y1="157.7" x2="328.6" y2="176.8" />
      </g>
      <g id="XMLID_1048_">
        <line id="XMLID_1051_" class="st4" x1="300" y1="218.3" x2="302.5" y2="232" />
        <line id="XMLID_1050_" class="st4" x1="295.5" y1="192.7" x2="298.1" y2="207.1" />
        <line id="XMLID_1049_" class="st4" x1="289.9" y1="161.1" x2="293.3" y2="179.9" />
      </g>
      <g id="XMLID_1044_">
        <line id="XMLID_1047_" class="st4" x1="272.4" y1="225.7" x2="277.2" y2="238.8" />
        <line id="XMLID_1046_" class="st4" x1="263.5" y1="201.3" x2="268.5" y2="215" />
        <line id="XMLID_1045_" class="st4" x1="252.5" y1="171.1" x2="259.1" y2="189.1" />
      </g>
      <g id="XMLID_1040_">
        <line id="XMLID_1043_" class="st4" x1="246.4" y1="237.8" x2="253.4" y2="249.9" />
        <line id="XMLID_1042_" class="st4" x1="233.5" y1="215.3" x2="240.8" y2="228" />
        <line id="XMLID_1041_" class="st4" x1="217.4" y1="187.5" x2="227" y2="204.1" />
      </g>
      <g id="XMLID_1036_">
        <line id="XMLID_1039_" class="st4" x1="223" y1="254.2" x2="232" y2="264.9" />
        <line id="XMLID_1038_" class="st4" x1="206.3" y1="234.3" x2="215.7" y2="245.5" />
        <line id="XMLID_1037_" class="st4" x1="185.6" y1="209.7" x2="198" y2="224.4" />
      </g>
      <g id="XMLID_1030_">
        <line id="XMLID_1035_" class="st4" x1="202.8" y1="274.5" x2="213.5" y2="283.4" />
        <line id="XMLID_1034_" class="st4" x1="182.9" y1="257.8" x2="194" y2="267.2" />
        <line id="XMLID_1033_" class="st4" x1="158.2" y1="237.1" x2="172.9" y2="249.4" />
        <path id="XMLID_1032_" class="st4" d="M150,230.2" />
        <path id="XMLID_1031_" class="st4" d="M132.9,215.8" />
      </g>
      <g id="XMLID_1026_">
        <line id="XMLID_1029_" class="st4" x1="186.3" y1="297.9" x2="198.4" y2="304.9" />
        <line id="XMLID_1028_" class="st4" x1="163.8" y1="284.9" x2="176.5" y2="292.2" />
        <line id="XMLID_1027_" class="st4" x1="136" y1="268.8" x2="152.6" y2="278.4" />
      </g>
      <g id="XMLID_1022_">
        <line id="XMLID_1025_" class="st4" x1="174.2" y1="323.9" x2="187.4" y2="328.6" />
        <line id="XMLID_1024_" class="st4" x1="149.8" y1="315" x2="163.6" y2="320" />
        <line id="XMLID_1023_" class="st4" x1="119.6" y1="304" x2="137.6" y2="310.5" />
      </g>
      <g id="XMLID_1018_">
        <line id="XMLID_1021_" class="st4" x1="166.8" y1="351.5" x2="180.6" y2="353.9" />
        <line id="XMLID_1020_" class="st4" x1="141.3" y1="347" x2="155.6" y2="349.5" />
        <line id="XMLID_1019_" class="st4" x1="109.6" y1="341.4" x2="128.5" y2="344.7" />
      </g>
      <g id="XMLID_1014_">
        <line id="XMLID_1017_" class="st4" x1="164.3" y1="380" x2="178.3" y2="380" />
        <line id="XMLID_1016_" class="st4" x1="138.4" y1="380" x2="153" y2="380" />
        <line id="XMLID_1015_" class="st4" x1="106.2" y1="380" x2="125.4" y2="380" />
      </g>
      <g id="XMLID_1010_">
        <line id="XMLID_1013_" class="st4" x1="166.8" y1="408.5" x2="180.6" y2="406.1" />
        <line id="XMLID_1012_" class="st4" x1="141.3" y1="413" x2="155.6" y2="410.5" />
        <line id="XMLID_1011_" class="st4" x1="109.6" y1="418.6" x2="128.5" y2="415.3" />
      </g>
      <g id="XMLID_1006_">
        <line id="XMLID_1009_" class="st4" x1="174.2" y1="436.2" x2="187.4" y2="431.4" />
        <line id="XMLID_1008_" class="st4" x1="149.8" y1="445.1" x2="163.6" y2="440.1" />
        <line id="XMLID_1007_" class="st4" x1="119.6" y1="456.1" x2="137.6" y2="449.5" />
      </g>
      <g id="XMLID_1002_">
        <line id="XMLID_1005_" class="st4" x1="186.3" y1="462.1" x2="198.4" y2="455.1" />
        <line id="XMLID_1004_" class="st4" x1="163.8" y1="475.1" x2="176.5" y2="467.8" />
        <line id="XMLID_1003_" class="st4" x1="136" y1="491.2" x2="152.6" y2="481.6" />
      </g>
      <g id="XMLID_997_">
        <path id="XMLID_1001_" class="st4" d="M232,495.1" />
        <path id="XMLID_1000_" class="st4" d="M223,505.8" />
        <path id="XMLID_999_" class="st4" d="M206.3,525.7" />
        <path id="XMLID_998_" class="st4" d="M185.6,550.3" />
      </g>
      <g id="XMLID_995_">
        <path id="XMLID_996_" class="st4" d="M490.3,351.5" />
      </g>
      <g id="XMLID_988_">
        <line id="XMLID_991_" class="st4" x1="470.8" y1="297.9" x2="458.7" y2="304.9" />
        <line id="XMLID_990_" class="st4" x1="493.3" y1="284.9" x2="480.6" y2="292.2" />
        <line id="XMLID_989_" class="st4" x1="521.1" y1="268.8" x2="504.5" y2="278.4" />
      </g>
      <g id="XMLID_984_">
        <line id="XMLID_987_" class="st4" x1="454.3" y1="274.5" x2="443.7" y2="283.4" />
        <line id="XMLID_986_" class="st4" x1="474.2" y1="257.8" x2="463.1" y2="267.2" />
        <line id="XMLID_985_" class="st4" x1="498.9" y1="237.1" x2="484.2" y2="249.4" />
      </g>
      <g id="XMLID_980_">
        <line id="XMLID_983_" class="st4" x1="434.1" y1="254.2" x2="425.1" y2="264.9" />
        <line id="XMLID_982_" class="st4" x1="450.8" y1="234.3" x2="441.4" y2="245.5" />
        <line id="XMLID_981_" class="st4" x1="471.5" y1="209.7" x2="459.2" y2="224.4" />
      </g>
      <g id="XMLID_976_">
        <line id="XMLID_979_" class="st4" x1="410.7" y1="237.8" x2="403.7" y2="249.9" />
        <line id="XMLID_978_" class="st4" x1="423.6" y1="215.3" x2="416.3" y2="228" />
        <line id="XMLID_977_" class="st4" x1="439.7" y1="187.5" x2="430.1" y2="204.1" />
      </g>
      <g id="XMLID_972_">
        <line id="XMLID_975_" class="st4" x1="384.7" y1="225.7" x2="379.9" y2="238.8" />
        <line id="XMLID_974_" class="st4" x1="393.6" y1="201.3" x2="388.6" y2="215" />
        <line id="XMLID_973_" class="st4" x1="404.6" y1="171.1" x2="398" y2="189.1" />
      </g>
      <g id="XMLID_968_">
        <line id="XMLID_971_" class="st4" x1="357.1" y1="218.3" x2="354.6" y2="232" />
        <line id="XMLID_970_" class="st4" x1="361.6" y1="192.7" x2="359" y2="207.1" />
        <line id="XMLID_969_" class="st4" x1="367.2" y1="161.1" x2="363.8" y2="179.9" />
      </g>
      <g id="XMLID_61_">
        <line id="XMLID_65_" class="st4" x1="202.5" y1="487.6" x2="213.3" y2="478.7" />
        <line id="XMLID_63_" class="st4" x1="182.4" y1="503.9" x2="193.6" y2="494.8" />
        <line id="XMLID_62_" class="st4" x1="157.4" y1="524.3" x2="172.3" y2="512.1" />
      </g>
      <g id="XMLID_56_">
        <line id="XMLID_60_" class="st4" x1="222.4" y1="508.1" x2="231.6" y2="497.5" />
        <line id="XMLID_58_" class="st4" x1="205.5" y1="527.7" x2="215" y2="516.7" />
        <line id="XMLID_57_" class="st4" x1="184.4" y1="552.1" x2="197" y2="537.6" />
      </g>
      <g id="XMLID_51_">
        <line id="XMLID_55_" class="st4" x1="245.6" y1="524.9" x2="252.8" y2="512.9" />
        <line id="XMLID_54_" class="st4" x1="232.3" y1="547.1" x2="239.8" y2="534.6" />
        <line id="XMLID_53_" class="st4" x1="215.8" y1="574.8" x2="225.7" y2="558.3" />
      </g>
      <g id="XMLID_47_">
        <line id="XMLID_50_" class="st4" x1="271.4" y1="537.4" x2="276.4" y2="524.3" />
        <line id="XMLID_49_" class="st4" x1="262.2" y1="561.7" x2="267.4" y2="548" />
        <line id="XMLID_48_" class="st4" x1="250.8" y1="591.7" x2="257.5" y2="573.8" />
      </g>
      <g id="XMLID_1_">
        <line id="XMLID_31_" class="st4" x1="298.9" y1="545.2" x2="301.5" y2="531.4" />
        <line id="XMLID_7_" class="st4" x1="294" y1="570.7" x2="296.8" y2="556.3" />
        <line id="XMLID_2_" class="st4" x1="288" y1="602.2" x2="291.6" y2="583.4" />
      </g>
      <g id="XMLID_83_">
        <line id="XMLID_87_" class="st4" x1="479.5" y1="438.5" x2="466.4" y2="433.5" />
        <line id="XMLID_86_" class="st4" x1="503.7" y1="447.7" x2="490.1" y2="442.6" />
        <line id="XMLID_85_" class="st4" x1="533.7" y1="459.2" x2="515.8" y2="452.4" />
      </g>
      <g id="XMLID_79_">
        <line id="XMLID_82_" class="st4" x1="487.3" y1="411" x2="473.6" y2="408.3" />
        <line id="XMLID_81_" class="st4" x1="512.8" y1="415.9" x2="498.4" y2="413.1" />
        <line id="XMLID_80_" class="st4" x1="544.4" y1="422" x2="525.5" y2="418.3" />
      </g>
      <g id="XMLID_75_">
        <line id="XMLID_78_" class="st4" x1="490.3" y1="382.5" x2="476.3" y2="382.3" />
        <line id="XMLID_77_" class="st4" x1="516.2" y1="382.9" x2="501.6" y2="382.7" />
        <line id="XMLID_76_" class="st4" x1="548.3" y1="383.4" x2="529.2" y2="383.1" />
      </g>
      <g id="XMLID_71_">
        <line id="XMLID_74_" class="st4" x1="488.2" y1="353.9" x2="474.4" y2="356.1" />
        <line id="XMLID_73_" class="st4" x1="513.9" y1="349.8" x2="499.4" y2="352.1" />
        <line id="XMLID_72_" class="st4" x1="545.6" y1="344.7" x2="526.7" y2="347.8" />
      </g>
      <g id="XMLID_66_">
        <line id="XMLID_70_" class="st4" x1="481.3" y1="326.2" x2="468.1" y2="330.8" />
        <line id="XMLID_68_" class="st4" x1="505.8" y1="317.7" x2="492" y2="322.4" />
        <line id="XMLID_67_" class="st4" x1="536.2" y1="307.1" x2="518" y2="313.4" />
      </g>
      <g id="XMLID_106_">
        <line id="XMLID_109_" class="st4" x1="382.7" y1="540.3" x2="377.7" y2="527.2" />
        <line id="XMLID_108_" class="st4" x1="391.8" y1="564.5" x2="386.6" y2="550.9" />
        <line id="XMLID_107_" class="st4" x1="403.1" y1="594.6" x2="396.3" y2="576.7" />
      </g>
      <g id="XMLID_102_">
        <line id="XMLID_105_" class="st4" x1="408.5" y1="527.9" x2="401.3" y2="515.8" />
        <line id="XMLID_104_" class="st4" x1="421.7" y1="550.2" x2="414.2" y2="537.6" />
        <line id="XMLID_103_" class="st4" x1="438.1" y1="577.9" x2="428.3" y2="561.4" />
      </g>
      <g id="XMLID_97_">
        <line id="XMLID_101_" class="st4" x1="431.7" y1="511.2" x2="422.6" y2="500.6" />
        <line id="XMLID_100_" class="st4" x1="448.6" y1="530.9" x2="439.1" y2="519.8" />
        <line id="XMLID_98_" class="st4" x1="469.5" y1="555.3" x2="457.1" y2="540.7" />
      </g>
      <g id="XMLID_92_">
        <line id="XMLID_96_" class="st4" x1="451.8" y1="490.7" x2="440.9" y2="481.8" />
        <line id="XMLID_95_" class="st4" x1="471.9" y1="507.2" x2="460.5" y2="497.9" />
        <line id="XMLID_93_" class="st4" x1="496.7" y1="527.6" x2="481.9" y2="515.5" />
      </g>
      <g id="XMLID_88_">
        <line id="XMLID_91_" class="st4" x1="467.9" y1="467.1" x2="455.7" y2="460.3" />
        <line id="XMLID_90_" class="st4" x1="490.5" y1="479.9" x2="477.8" y2="472.7" />
        <line id="XMLID_89_" class="st4" x1="518.6" y1="495.6" x2="501.8" y2="486.2" />
      </g>
      <g id="XMLID_118_">
        <line id="XMLID_136_" class="st4" x1="327.9" y1="547.7" x2="328.9" y2="533.7" />
        <line id="XMLID_122_" class="st4" x1="326" y1="573.6" x2="327.1" y2="559" />
        <line id="XMLID_121_" class="st4" x1="323.7" y1="605.7" x2="325.1" y2="586.6" />
      </g>
      <g id="XMLID_110_">
        <line id="XMLID_114_" class="st4" x1="356.5" y1="547.3" x2="355" y2="533.3" />
        <line id="XMLID_112_" class="st4" x1="359.1" y1="573.1" x2="357.7" y2="558.5" />
        <line id="XMLID_111_" class="st4" x1="362.5" y1="605.1" x2="360.5" y2="586" />
      </g>
    </g>
    <circle class="st5" cx="328.6" cy="380" r="129" />
  </g>
  <g id="clouds1">
    <path id="XMLID_59_" class="st6" d="M624.3,275.8h142.4c0.8-1.9,1.3-4.1,1.3-6.3c0-8.9-7.3-16.2-16.2-16.2c-1.8,0-3.5,0.3-5,0.8
    c-3.7-10.1-13.5-17.3-24.9-17.3c-3,0-5.9,0.5-8.6,1.4c-5.7-12.6-18.5-21.4-33.2-21.4c-20.2,0-36.5,16.3-36.5,36.5c0,2,0.2,4,0.5,6
    C634.9,261,627.5,267.3,624.3,275.8z" />
    <path id="XMLID_64_" class="st6" d="M871.4,340.9c0-0.1,0-0.2,0-0.3c0-9.6-7.8-17.3-17.3-17.3c-1.8,0-3.5,0.3-5.1,0.8
    c0-0.5,0-1,0-1.5c0-15.2-12.3-27.5-27.5-27.5S794,307.4,794,322.6c0,1.6,0.1,3.1,0.4,4.6c-0.1,0-0.3,0-0.4,0
    c-7.4,0-13.5,6-13.5,13.5c0,0.1,0,0.2,0,0.4h90.9V340.9z" />
  </g>
  <g id="clouds2">
    <path id="XMLID_59_" class="st6" d="M624.3,275.8h142.4c0.8-1.9,1.3-4.1,1.3-6.3c0-8.9-7.3-16.2-16.2-16.2c-1.8,0-3.5,0.3-5,0.8
    c-3.7-10.1-13.5-17.3-24.9-17.3c-3,0-5.9,0.5-8.6,1.4c-5.7-12.6-18.5-21.4-33.2-21.4c-20.2,0-36.5,16.3-36.5,36.5c0,2,0.2,4,0.5,6
    C634.9,261,627.5,267.3,624.3,275.8z" />
    <path id="XMLID_64_" class="st6" d="M871.4,340.9c0-0.1,0-0.2,0-0.3c0-9.6-7.8-17.3-17.3-17.3c-1.8,0-3.5,0.3-5.1,0.8
    c0-0.5,0-1,0-1.5c0-15.2-12.3-27.5-27.5-27.5S794,307.4,794,322.6c0,1.6,0.1,3.1,0.4,4.6c-0.1,0-0.3,0-0.4,0
    c-7.4,0-13.5,6-13.5,13.5c0,0.1,0,0.2,0,0.4h90.9V340.9z" />
  </g>
  <g id="mountains1">
    <polygon class="st0" points="335.9,333.3 43.9,730.1 851.5,730.1   " />
    <polyline id="XMLID_19_" class="st7" points="153,581.6 335.9,333.3 523,477.1  " />
    <polygon class="st0" points="522.1,297.9 207,730.1 1000.3,734.9   " />
    <polyline id="XMLID_29_" class="st7" points="391.4,475.3 522.1,297.9 744,499.4  " />
    <polyline id="XMLID_30_" class="st7" points="276.8,414 285.9,425.7 308,416.9 336.7,428 348.5,416.9 370.9,424.3 383,405.8
    411.5,417.2 422.7,400   " />
    <polyline id="XMLID_46_" class="st7" points="464.3,376.4 492.7,369.8 503,389 532.4,373.1 553.9,386.6 567.8,366.1 603.8,372.1
    " />
  </g>
  <g id="mountains2">
    <polygon class="st0" points="335.9,333.3 43.9,730.1 851.5,730.1   " />
    <polyline id="XMLID_19_" class="st7" points="153,581.6 335.9,333.3 523,477.1  " />
    <polygon class="st0" points="522.1,297.9 207,730.1 1000.3,734.9   " />
    <polyline id="XMLID_29_" class="st7" points="391.4,475.3 522.1,297.9 744,499.4  " />
    <polyline id="XMLID_30_" class="st7" points="276.8,414 285.9,425.7 308,416.9 336.7,428 348.5,416.9 370.9,424.3 383,405.8
    411.5,417.2 422.7,400   " />
    <polyline id="XMLID_46_" class="st7" points="464.3,376.4 492.7,369.8 503,389 532.4,373.1 553.9,386.6 567.8,366.1 603.8,372.1
    " />
  </g>
  <g id="terrain1">
    <g id="plants1">

      <ellipse id="XMLID_174_" transform="matrix(0.7947 -0.607 0.607 0.7947 -353.8053 194.2964)" class="st5" cx="110.3" cy="620.2" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_163_" transform="matrix(0.7947 -0.607 0.607 0.7947 -334.5815 187.7649)" class="st5" cx="110.3" cy="588.5" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_158_" transform="matrix(0.7947 -0.607 0.607 0.7947 -400.4889 210.0762)" class="st5" cx="110.3" cy="697.1" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_134_" transform="matrix(0.7947 -0.607 0.607 0.7947 -376.507 201.9742)" class="st5" cx="110.3" cy="657.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_34_" transform="matrix(0.7947 -0.607 0.607 0.7947 -353.8053 194.2964)" class="st1" cx="110.3" cy="620.2" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_32_" transform="matrix(0.7947 -0.607 0.607 0.7947 -334.5815 187.7649)" class="st1" cx="110.3" cy="588.5" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_35_" transform="matrix(0.7947 -0.607 0.607 0.7947 -400.4889 210.0762)" class="st1" cx="110.3" cy="697.1" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_33_" transform="matrix(0.7947 -0.607 0.607 0.7947 -376.507 201.9742)" class="st1" cx="110.3" cy="657.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_175_" transform="matrix(0.607 -0.7947 0.7947 0.607 -435.5823 296.4551)" class="st5" cx="81.9" cy="588.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_160_" transform="matrix(0.607 -0.7947 0.7947 0.607 -509.2104 332.8182)" class="st5" cx="81.9" cy="681.3" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_137_" transform="matrix(0.607 -0.7947 0.7947 0.607 -477.7216 317.2693)" class="st5" cx="81.9" cy="641.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_38_" transform="matrix(0.607 -0.7947 0.7947 0.607 -435.5823 296.4551)" class="st1" cx="81.9" cy="588.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_37_" transform="matrix(0.607 -0.7947 0.7947 0.607 -509.2104 332.8182)" class="st1" cx="81.9" cy="681.3" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_36_" transform="matrix(0.607 -0.7947 0.7947 0.607 -477.7216 317.2693)" class="st1" cx="81.9" cy="641.6" rx="7.8" ry="17.8" />
      <line id="XMLID_40_" class="st1" x1="96.1" y1="593.5" x2="96.1" y2="738.8" />

      <ellipse id="XMLID_44_" transform="matrix(0.7947 -0.607 0.607 0.7947 -388.1084 262.0473)" class="st1" cx="193.3" cy="704.8" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_43_" transform="matrix(0.7947 -0.607 0.607 0.7947 -367.9562 255.2314)" class="st1" cx="193.3" cy="671.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_45_" transform="matrix(0.7947 -0.607 0.607 0.7947 -349.7555 249.0604)" class="st1" cx="193.3" cy="641.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_42_" transform="matrix(0.607 -0.7947 0.7947 0.607 -476.5862 398.7727)" class="st1" cx="164.9" cy="681.2" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_41_" transform="matrix(0.607 -0.7947 0.7947 0.607 -445.0975 383.2238)" class="st1" cx="164.9" cy="641.6" rx="7.8" ry="17.8" />
      <line id="XMLID_39_" class="st1" x1="179.1" y1="648.3" x2="179.1" y2="738.8" />
    </g>
    <g id="tree1">
      <path id="XMLID_119_" class="st5" d="M769.7,605.9l82.6-195.6c1.8-4.2,7.8-4.2,9.6,0l82.6,195.6c9.9,23.4-11.2,47.9-41.2,47.9
      h-92.4C780.9,653.8,759.8,629.3,769.7,605.9z" />
      <path id="XMLID_133_" class="st5" d="M769.7,605.9l82.6-195.6c1.8-4.2,7.8-4.2,9.6,0l82.6,195.6c9.9,23.4-11.2,47.9-41.2,47.9
      h-92.4C780.9,653.8,759.8,629.3,769.7,605.9z" />
      <path id="XMLID_340_" class="st8" d="M810.1,615.1L869,427l-7-16.7c-1.8-4.2-7.8-4.2-9.6,0l-82.6,195.6
      c-9.9,23.4,11.2,47.9,41.2,47.9h7C809.2,646.4,805.8,634.1,810.1,615.1z" />
      <line id="XMLID_132_" class="st1" x1="857.1" y1="740.7" x2="857.1" y2="446.3" />
      <polyline id="XMLID_130_" class="st1" points="880.9,487.3 857.1,510 833.4,487.3   " />
      <polyline id="XMLID_135_" class="st1" points="885.4,530.5 857.1,557.6 828.8,530.5   " />
      <polyline id="XMLID_171_" class="st1" points="904.3,579.7 857.1,617.2 809.9,579.7   " />
    </g>
  </g>
  <g id="terrain2">
    <g id="plants2">

      <ellipse id="XMLID_174_" transform="matrix(0.7947 -0.607 0.607 0.7947 -353.8053 194.2964)" class="st5" cx="110.3" cy="620.2" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_163_" transform="matrix(0.7947 -0.607 0.607 0.7947 -334.5815 187.7649)" class="st5" cx="110.3" cy="588.5" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_158_" transform="matrix(0.7947 -0.607 0.607 0.7947 -400.4889 210.0762)" class="st5" cx="110.3" cy="697.1" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_134_" transform="matrix(0.7947 -0.607 0.607 0.7947 -376.507 201.9742)" class="st5" cx="110.3" cy="657.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_34_" transform="matrix(0.7947 -0.607 0.607 0.7947 -353.8053 194.2964)" class="st1" cx="110.3" cy="620.2" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_32_" transform="matrix(0.7947 -0.607 0.607 0.7947 -334.5815 187.7649)" class="st1" cx="110.3" cy="588.5" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_35_" transform="matrix(0.7947 -0.607 0.607 0.7947 -400.4889 210.0762)" class="st1" cx="110.3" cy="697.1" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_33_" transform="matrix(0.7947 -0.607 0.607 0.7947 -376.507 201.9742)" class="st1" cx="110.3" cy="657.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_175_" transform="matrix(0.607 -0.7947 0.7947 0.607 -435.5823 296.4551)" class="st5" cx="81.9" cy="588.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_160_" transform="matrix(0.607 -0.7947 0.7947 0.607 -509.2104 332.8182)" class="st5" cx="81.9" cy="681.3" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_137_" transform="matrix(0.607 -0.7947 0.7947 0.607 -477.7216 317.2693)" class="st5" cx="81.9" cy="641.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_38_" transform="matrix(0.607 -0.7947 0.7947 0.607 -435.5823 296.4551)" class="st1" cx="81.9" cy="588.6" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_37_" transform="matrix(0.607 -0.7947 0.7947 0.607 -509.2104 332.8182)" class="st1" cx="81.9" cy="681.3" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_36_" transform="matrix(0.607 -0.7947 0.7947 0.607 -477.7216 317.2693)" class="st1" cx="81.9" cy="641.6" rx="7.8" ry="17.8" />
      <line id="XMLID_40_" class="st1" x1="96.1" y1="593.5" x2="96.1" y2="738.8" />

      <ellipse id="XMLID_44_" transform="matrix(0.7947 -0.607 0.607 0.7947 -388.1084 262.0473)" class="st1" cx="193.3" cy="704.8" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_43_" transform="matrix(0.7947 -0.607 0.607 0.7947 -367.9562 255.2314)" class="st1" cx="193.3" cy="671.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_45_" transform="matrix(0.7947 -0.607 0.607 0.7947 -349.7555 249.0604)" class="st1" cx="193.3" cy="641.6" rx="17.8" ry="7.8" />

      <ellipse id="XMLID_42_" transform="matrix(0.607 -0.7947 0.7947 0.607 -476.5862 398.7727)" class="st1" cx="164.9" cy="681.2" rx="7.8" ry="17.8" />

      <ellipse id="XMLID_41_" transform="matrix(0.607 -0.7947 0.7947 0.607 -445.0975 383.2238)" class="st1" cx="164.9" cy="641.6" rx="7.8" ry="17.8" />
      <line id="XMLID_39_" class="st1" x1="179.1" y1="648.3" x2="179.1" y2="738.8" />
    </g>
    <g id="tree2">
      <path id="XMLID_119_" class="st5" d="M769.7,605.9l82.6-195.6c1.8-4.2,7.8-4.2,9.6,0l82.6,195.6c9.9,23.4-11.2,47.9-41.2,47.9
      h-92.4C780.9,653.8,759.8,629.3,769.7,605.9z" />
      <path id="XMLID_133_" class="st5" d="M769.7,605.9l82.6-195.6c1.8-4.2,7.8-4.2,9.6,0l82.6,195.6c9.9,23.4-11.2,47.9-41.2,47.9
      h-92.4C780.9,653.8,759.8,629.3,769.7,605.9z" />
      <path id="XMLID_340_" class="st8" d="M810.1,615.1L869,427l-7-16.7c-1.8-4.2-7.8-4.2-9.6,0l-82.6,195.6
      c-9.9,23.4,11.2,47.9,41.2,47.9h7C809.2,646.4,805.8,634.1,810.1,615.1z" />
      <line id="XMLID_132_" class="st1" x1="857.1" y1="740.7" x2="857.1" y2="446.3" />
      <polyline id="XMLID_130_" class="st1" points="880.9,487.3 857.1,510 833.4,487.3   " />
      <polyline id="XMLID_135_" class="st1" points="885.4,530.5 857.1,557.6 828.8,530.5   " />
      <polyline id="XMLID_171_" class="st1" points="904.3,579.7 857.1,617.2 809.9,579.7   " />
    </g>
  </g>
  <g id="van">
    <g id="front-wheel">
      <path id="XMLID_115_" class="st9" d="M340.9,740.7c-25.3,0-45.9-20.6-45.9-45.9c0-25.3,20.6-45.9,45.9-45.9s45.9,20.6,45.9,45.9
      C386.8,720.1,366.2,740.7,340.9,740.7z" />
      <path id="XMLID_11_" class="st1" d="M340.9,740.7c-25.3,0-45.9-20.6-45.9-45.9c0-25.3,20.6-45.9,45.9-45.9s45.9,20.6,45.9,45.9
      C386.8,720.1,366.2,740.7,340.9,740.7z" />
      <path id="XMLID_116_" class="st5" d="M340.9,718.8c-13.2,0-24-10.8-24-24s10.8-24,24-24s24,10.8,24,24S354.1,718.8,340.9,718.8z" />
      <path id="XMLID_9_" class="st1" d="M340.9,718.8c-13.2,0-24-10.8-24-24s10.8-24,24-24s24,10.8,24,24S354.1,718.8,340.9,718.8z" />
      <path id="XMLID_123_" class="st5" d="M340.9,702.7c-4.4,0-7.9-3.6-7.9-7.9c0-4.4,3.6-7.9,7.9-7.9c4.4,0,7.9,3.6,7.9,7.9
      C348.8,699.1,345.3,702.7,340.9,702.7z" />
      <path id="XMLID_14_" class="st1" d="M340.9,702.7c-4.4,0-7.9-3.6-7.9-7.9c0-4.4,3.6-7.9,7.9-7.9c4.4,0,7.9,3.6,7.9,7.9
      C348.8,699.1,345.3,702.7,340.9,702.7z" />
    </g>
    <g id="rear-wheel">
      <path id="XMLID_117_" class="st9" d="M599,740.7c-25.3,0-45.9-20.6-45.9-45.9c0-25.3,20.6-45.9,45.9-45.9
      c25.3,0,45.9,20.6,45.9,45.9C644.9,720.1,624.3,740.7,599,740.7z" />
      <path id="XMLID_10_" class="st1" d="M599,740.7c-25.3,0-45.9-20.6-45.9-45.9c0-25.3,20.6-45.9,45.9-45.9
      c25.3,0,45.9,20.6,45.9,45.9C644.9,720.1,624.3,740.7,599,740.7z" />
      <path id="XMLID_120_" class="st5" d="M599,718.8c-13.2,0-24-10.8-24-24s10.8-24,24-24s24,10.8,24,24S612.2,718.8,599,718.8z" />
      <path id="XMLID_12_" class="st1" d="M599,718.8c-13.2,0-24-10.8-24-24s10.8-24,24-24s24,10.8,24,24S612.2,718.8,599,718.8z" />
      <path id="XMLID_125_" class="st5" d="M599,702.7c-4.4,0-7.9-3.6-7.9-7.9c0-4.4,3.6-7.9,7.9-7.9c4.4,0,7.9,3.6,7.9,7.9
      C606.9,699.1,603.4,702.7,599,702.7z" />
      <path id="XMLID_13_" class="st1" d="M599,702.7c-4.4,0-7.9-3.6-7.9-7.9c0-4.4,3.6-7.9,7.9-7.9c4.4,0,7.9,3.6,7.9,7.9
      C606.9,699.1,603.4,702.7,599,702.7z" />
    </g>
    <g id="van-body">
      <path id="XMLID_84_" class="st10" d="M707.9,555.1l-9.4-35.7c-3.7-14.3-15.9-24.7-30.6-26.3c-42-4.5-92.9-7.1-152.3-7.1
      c-68,0-172.5,5.2-203.9,8.8c-5.7,0.6-10.6,4.3-12.9,9.6l-18.9,44.2c-8.7,15.6-14,32.8-15.5,50.6l-0.4,99.4l21.1,0.4
      c-0.1-1.4-0.2-2.8-0.2-4.2c0-30.9,25-55.9,55.9-55.9s55.9,25,55.9,55.9c0,1.8-0.1,3.6-0.3,5.3l147,1.8c-0.3-2.3-0.5-4.7-0.5-7.1
      c0-30.9,25-55.9,55.9-55.9s55.9,25,55.9,55.9c0,2.8-0.2,5.5-0.6,8.2l59.3,0.6V600C713.7,584.9,711.7,569.8,707.9,555.1z" />
      <g id="XMLID_304_" class="st11">
        <path id="XMLID_306_" class="st10" d="M275.2,698.6l0.4-99.4c1.5-17.8,6.8-35,15.5-50.6l18.9-44.2c2.3-5.3,7.2-8.9,12.9-9.6
        c30.5-3.5,129.8-8.5,197.8-8.8c-1.7,0-3.4,0-5.1,0c-68,0-172.5,5.2-203.9,8.8c-5.7,0.6-10.6,4.3-12.9,9.6l-18.9,44.2
        c-8.7,15.6-14,32.8-15.5,50.6l-0.4,99.4l21.1,0.4c0-0.1,0-0.1,0-0.2L275.2,698.6z" />
        <path id="XMLID_312_" class="st10" d="M665.5,703c0.4-2.7,0.6-5.4,0.6-8.2c0-30.9-25-55.9-55.9-55.9c-1.9,0-3.7,0.1-5.6,0.3
        c28.3,2.8,50.3,26.6,50.3,55.6c0,2.8-0.2,5.5-0.6,8.2l59.3,0.6v-0.1L665.5,703z" />
        <path id="XMLID_314_" class="st10" d="M407.7,700c0.2-1.7,0.3-3.5,0.3-5.3c0-30.9-25-55.9-55.9-55.9c-1.9,0-3.7,0.1-5.6,0.3
        c28.3,2.8,50.3,26.6,50.3,55.6c0,1.8-0.1,3.6-0.3,5.3l147,1.8v-0.1L407.7,700z" />
      </g>
      <path id="XMLID_331_" class="st12" d="M407.9,691h133.6v-13.3H405.3C406.7,682,407.5,686.4,407.9,691z" />
      <g id="XMLID_297_" class="st13">
        <path id="XMLID_301_" class="st10" d="M709.9,554.1l-9.4-35.7c-3.7-14.3-15.9-24.7-30.6-26.3c-42-4.5-92.9-7.1-152.3-7.1
        c-68,0-172.5,5.2-203.9,8.8c-4.9,0.6-9.3,3.4-11.8,7.6c0,0,0-1.7,0.1-1.7c31.4-3.6,135.9-7.1,203.9-7.1
        c59.5,0,110.3,2.6,152.3,7.1c14.7,1.6,26.8,12,30.6,26.3l9.4,35.7c3.9,14.7,5.8,29.8,5.8,44.9v95.9l11.8,0.1V599
        C715.7,583.9,713.7,568.8,709.9,554.1z" />
      </g>
      <path id="XMLID_8_" class="st1" d="M707.9,555.1l-9.4-35.7c-3.7-14.3-15.9-24.7-30.6-26.3c-42-4.5-92.9-7.1-152.3-7.1
      c-68,0-172.5,5.2-203.9,8.8c-5.7,0.6-10.6,4.3-12.9,9.6l-18.9,44.2c-8.7,15.6-14,32.8-15.5,50.6l-0.4,99.4l21.1,0.4
      c-0.1-1.4-0.2-2.8-0.2-4.2c0-30.9,25-55.9,55.9-55.9s55.9,25,55.9,55.9c0,1.8-0.1,3.6-0.3,5.3l147,1.8c-0.3-2.3-0.5-4.7-0.5-7.1
      c0-30.9,25-55.9,55.9-55.9s55.9,25,55.9,55.9c0,2.8-0.2,5.5-0.6,8.2l59.3,0.6V600C713.7,584.9,711.7,569.8,707.9,555.1z" />
      <path id="XMLID_127_" class="st14" d="M264,707.5h-10.9c-4.5,0-8.1-3.6-8.1-8.1v-32.3c0-4.5,3.6-8.1,8.1-8.1H264V707.5z" />
      <path id="XMLID_6_" class="st1" d="M264,707.5h-10.9c-4.5,0-8.1-3.6-8.1-8.1v-32.3c0-4.5,3.6-8.1,8.1-8.1H264V707.5z" />
      <path id="XMLID_128_" class="st14" d="M265.6,646h-4c-3,0-5.4-2.4-5.4-5.4v-24.8c0-3,2.4-5.4,5.4-5.4h4c3,0,5.4,2.4,5.4,5.4v24.8
      C271,643.6,268.6,646,265.6,646z" />
      <path id="XMLID_15_" class="st1" d="M265.6,646h-4c-3,0-5.4-2.4-5.4-5.4v-24.8c0-3,2.4-5.4,5.4-5.4h4c3,0,5.4,2.4,5.4,5.4v24.8
      C271,643.6,268.6,646,265.6,646z" />
      <path id="XMLID_126_" class="st14" d="M721.3,715.2h-43c-5,0-9-4-9-9v-7c0-5,4-9,9-9h43c5,0,9,4,9,9v7
      C730.3,711.1,726.2,715.2,721.3,715.2z" />
      <path id="XMLID_294_" class="st15" d="M678.9,705.5c0-2.5,2.1-4.6,4.6-4.6h46.7v-1.7c0-5-4-9-9-9h-43c-5,0-9,4-9,9v7c0,5,4,9,9,9
      h0.7V705.5z" />
      <path id="XMLID_16_" class="st1" d="M721.3,715.2h-43c-5,0-9-4-9-9v-7c0-5,4-9,9-9h43c5,0,9,4,9,9v7
      C730.3,711.1,726.2,715.2,721.3,715.2z" />
      <path id="XMLID_113_" class="st5" d="M648.5,578.3h-46.3c-5.3,0-9.6-4.3-9.6-9.6V522c0-5.3,4.3-9.6,9.6-9.6h28.1
      c11.1,0,20.5,8.1,22.2,19.1l5.4,35.7C658.9,573.1,654.4,578.3,648.5,578.3z" />
      <path id="XMLID_293_" class="st8" d="M612.2,533.5c0-5.3,4.3-9.6,9.6-9.6h28.1l0,0c-3.9-6.9-11.3-11.4-19.6-11.4h-28.1
      c-5.3,0-9.6,4.3-9.6,9.6v46.7c0,5.3,4.3,9.6,9.6,9.6h10V533.5z" />
      <path id="XMLID_17_" class="st1" d="M648.5,578.3h-46.3c-5.3,0-9.6-4.3-9.6-9.6V522c0-5.3,4.3-9.6,9.6-9.6h28.1
      c11.1,0,20.5,8.1,22.2,19.1l5.4,35.7C658.9,573.1,654.4,578.3,648.5,578.3z" />
      <path id="XMLID_99_" class="st5" d="M561.8,577.3H459.6c-5.3,0-9.6-4.3-9.6-9.6V521c0-5.3,4.3-9.6,9.6-9.6h102.2
      c5.3,0,9.6,4.3,9.6,9.6v46.7C571.3,573,567.1,577.3,561.8,577.3z" />
      <path id="XMLID_308_" class="st8" d="M468.5,531.3c0-5.3,4.3-9.6,9.6-9.6h93.2V521c0-5.3-4.3-9.6-9.6-9.6H459.6
      c-5.3,0-9.6,4.3-9.6,9.6v46.7c0,5.3,4.3,9.6,9.6,9.6h9v-46H468.5z" />
      <path id="XMLID_21_" class="st1" d="M561.8,577.3H459.6c-5.3,0-9.6-4.3-9.6-9.6V521c0-5.3,4.3-9.6,9.6-9.6h102.2
      c5.3,0,9.6,4.3,9.6,9.6v46.7C571.3,573,567.1,577.3,561.8,577.3z" />
      <path id="XMLID_94_" class="st5" d="M403.5,578.3h-96.3c-5.4,0-9.3-6-7.8-12.1l11.1-46.7c1-4.1,4.2-7,7.8-7h85.2
      c4.5,0,8.1,4.3,8.1,9.6v46.7C411.7,574,408,578.3,403.5,578.3z" />
      <path id="XMLID_316_" class="st8" d="M317.4,576l11.1-46.7c1-4.1,4.2-7,7.8-7h75.3V522c0-5.3-3.6-9.6-8.1-9.6h-85.2
      c-3.6,0-6.8,2.9-7.8,7l-11.1,46.7c-1.4,6.1,2.4,12.1,7.8,12.1h9.9C317.2,577.5,317.3,576.8,317.4,576z" />
      <path id="XMLID_22_" class="st1" d="M403.5,578.3h-96.3c-5.4,0-9.3-6-7.8-12.1l11.1-46.7c1-4.1,4.2-7,7.8-7h85.2
      c4.5,0,8.1,4.3,8.1,9.6v46.7C411.7,574,408,578.3,403.5,578.3z" />
      <path id="XMLID_20_" class="st16" d="M413.4,490.7L413.4,490.7c11.4,0,20.6,9.2,20.6,20.6v189.2" />
      <line id="XMLID_24_" class="st1" x1="386.8" y1="602.3" x2="416.8" y2="602.3" />
      <line id="XMLID_150_" class="st1" x1="542.5" y1="600" x2="568.1" y2="600" />
      <path id="XMLID_289_" class="st15" d="M716.3,669.5h-3.9V574h3.9c6.6,0,12,5.4,12,12v71.5C728.3,664.1,722.9,669.5,716.3,669.5z" />
      <path id="XMLID_18_" class="st1" d="M716.3,669.5h-3.9V574h3.9c6.6,0,12,5.4,12,12v71.5C728.3,664.1,722.9,669.5,716.3,669.5z" />
      <line id="XMLID_25_" class="st1" x1="669.3" y1="522.5" x2="681.4" y2="522.5" />
      <line id="XMLID_26_" class="st1" x1="674.3" y1="539.7" x2="686.4" y2="539.7" />
      <line id="XMLID_27_" class="st1" x1="679" y1="556.8" x2="691.1" y2="556.8" />
      <line id="XMLID_28_" class="st1" x1="681" y1="574" x2="693.2" y2="574" />
      <path id="XMLID_23_" class="st1" d="M580,500" />
      <path id="XMLID_124_" class="st14" d="M534.8,706.7H405.5c-5.4,0-9.7-4.3-9.7-9.7l0,0c0-5.4,4.3-9.7,9.7-9.7h129.3
      c5.4,0,9.7,4.3,9.7,9.7l0,0C544.5,702.3,540.2,706.7,534.8,706.7z" />
      <path id="XMLID_141_" class="st14" d="M534.8,706.7H405.5c-5.4,0-9.7-4.3-9.7-9.7l0,0c0-5.4,4.3-9.7,9.7-9.7h129.3
      c5.4,0,9.7,4.3,9.7,9.7l0,0C544.5,702.3,540.2,706.7,534.8,706.7z" />
      <rect id="XMLID_273_" x="395.8" y="687.3" class="st15" width="148.7" height="9.7" />
      <path id="XMLID_4_" class="st1" d="M534.8,706.7H405.5c-5.4,0-9.7-4.3-9.7-9.7l0,0c0-5.4,4.3-9.7,9.7-9.7h129.3
      c5.4,0,9.7,4.3,9.7,9.7l0,0C544.5,702.3,540.2,706.7,534.8,706.7z" />
      <line id="XMLID_156_" class="st17" x1="326.2" y1="553.5" x2="345.8" y2="533.8" />
      <line id="XMLID_159_" class="st17" x1="342.8" y1="555.3" x2="369.2" y2="528.7" />
      <line id="XMLID_169_" class="st17" x1="478.5" y1="551.2" x2="498" y2="531.4" />
      <line id="XMLID_167_" class="st17" x1="495.1" y1="553" x2="521.5" y2="526.4" />
      <line id="XMLID_172_" class="st17" x1="605.3" y1="553.1" x2="621.4" y2="536.8" />
      <line id="XMLID_170_" class="st17" x1="619" y1="554.6" x2="640.7" y2="532.6" />
    </g>
  </g>
</svg>
</Slide>

<style lang="scss">
/*
* Animation styling
*/
#road1 {
  animation: pageExit 1s linear forwards infinite;
}

#road2 {
  animation: pageEnter 1s linear forwards infinite;
}

#terrain1 {
  animation: pageEnter 2s linear forwards infinite;
}

#terrain2 {
  animation: pageExit 2s linear forwards infinite;
}

#mountains1 {
  animation: pageEnter 6s linear forwards infinite;
}

#mountains2 {
  animation: pageExit 6s linear forwards infinite;
}

#clouds1 {
  animation: pageEnter 12s linear forwards infinite;
}

#clouds2 {
  animation: pageExit 12s linear forwards infinite;
}

#van-body {
  animation: bounce 0.3s forwards infinite;
}

/*
* Keyframes
*/
@keyframes pageExit {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes pageEnter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

svg {
  position: relative;
}

/*
* SVG styles
*/
.st0 {
  fill: var(--background-page);
}
.st1 {
  fill: none;
  stroke: color(primary, 700);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st2 {
  display: none;
}
.st3 {
  display: inline;
  fill: #fdc858;
}
.st4 {
  fill: none;
  stroke: color(gray, 400);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #fdc858;
}
.st6 {
  fill: #ffffff;
  stroke: color(gray, 400);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st7 {
  fill: none;
  stroke: color(gray, 400);
  stroke-width: 7.4637;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st8 {
  opacity: 0.56;
  fill: #fdc858;

}
.st9 {
  fill: color(primary, 800);
}
.st10 {
  fill: color(primary, 500);
}
.st11 {
  opacity: 0.36;
}
.st12 {
  opacity: 0.36;
  fill: color(primary, 500);

}
.st13 {
  opacity: 0.25;
}
.st14 {
  fill: #ffffff;
}
.st15 {
  fill: #d8d8d8;
}

.st16 {
  opacity: 0.48;
  fill: none;
  stroke: color(primary, 700);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;

}
.st17 {
  fill: none;
  stroke: color(primary, 700);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

// Added for the slide
svg {
	margin-bottom: -10%;
}
</style>
