<h2>
	<svg xmlns="http:www.w3.org/2000/svg" viewBox="0 0 14 21" role="presentation"
		><path d="M0 0h14v7H7zm0 7h7l7 7H7v7l-7-7z" fill="currentColor"></path></svg
	> Framer Motion
</h2>

<style>
	h2 {
		line-height: 1;
		margin: 0;
		display: flex;
		align-items: center;
		gap: 0.2em;
		margin-bottom: 0.25em;
	}

	svg {
		height: 1.2em;
	}
</style>
