html,
body {
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 180%;

	@media screen and (min-width: 1600px) {
		font-size: 230%;
	}
}

body.reveal-viewport {
	display: grid;
	place-items: center;
	font-family: "Rubik", sans-serif;
	background-color: var(--background-page);
	color: var(--font-color-default);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--font-color-strong);
}

h1 {
	font-size: 3rem;
	margin-block: 2em 0.5em;
}

h2 {
	font-size: 2rem;
	margin-block: 1.5em 0.25em;
}

h3 {
	margin-block: 1.5em 0.25em;
}

section {
	width: min(80vmin, 800px);
}
