@use "./abstract" as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 180%;
	accent-color: color(primary, 600);
	color-scheme: light;

	@media screen and (min-width: 1600px) {
		font-size: 250%;
	}
}

body.reveal-viewport {
	display: grid;
	place-items: center;
	font-family: "Rubik", sans-serif;
	background-color: var(--background-page);
	color: var(--font-color-default);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--font-color-strong);
}

h1 {
	font-size: 3rem;
	max-width: 90vw;
}

h1 + p {
	font-size: 1.5rem;
	max-width: 90vw;
}

h2 {
	font-size: 2rem;
	margin-block: 1.5em 0.25em;
}

h3 {
	margin-block: 1.5em 0.25em;
}

// "Partie x"
.titles:empty + p {
	font-size: 2rem;
}

ul {
	list-style-type: none;
	text-align: left;
}

.card {
	border: 0;
	outline: none;
	display: inline-grid;
	vertical-align: middle;
	place-items: center;
	color: white;
	border-radius: 0.25em;
	width: 8rem;
	aspect-ratio: 16/9;
	box-shadow: var(--shadow-md);

	&.primary {
		@include gradient-idle(primary);
		transition: transform 800ms var(--ease-in-out);
	}
	&.gray {
		background: gradient(gray, 400, 300);
	}
	&.secondary {
		@include gradient-idle(gold);
	}
	&:not(.inert) {
		cursor: pointer;
		pointer-events: all;
	}
}

.fragment.custom:not(.visible) {
	opacity: 1 !important;
	visibility: visible !important;
}

section:not(.present) {
	*,
	*::after,
	*::before {
		animation: none !important;
	}
}

label {
	display: flex;
	pointer-events: none;
	position: relative;

	input {
		position: absolute;
		opacity: 0;
	}
}

.mermaid svg {
	display: inline-block;
	height: 80vh;
	max-width: none !important;

	.cluster-label .nodeLabel {
		font-weight: bold !important;
		font-size: 0.9em !important;
	}
}

section > div.content {
	height: 40vh;
	padding-top: 2.5rem;

	&.p-0 {
		padding: 0;
	}

	> table {
		border-collapse: separate;
		border-spacing: 0px 20px;

		thead th {
			padding: 0.5em 1em;
			font-size: 0.8em;
			border-top: 0.1em solid color(gray, 300);
			border-bottom: 0.1em solid color(gray, 300);
		}

		tbody td {
			padding-inline: 0.1em;
			line-height: 2em;
			margin-inline: 0.1em;
			background: white;
			background-clip: content-box;
		}

		+ p {
			margin-top: 2rem;
		}

		img {
			height: 1.5em;
			display: block;
			margin: auto;
		}
	}
}
