---
import BlockMainThreadButtonCorner from "../components/BlockMainThreadButtonCorner.svelte";
import Layout from "../layouts/Layout.astro";
import Title from "../slides/intro/Title.astro";
import CSSAnimation from "../slides/part-1/css/animation/CSSAnimation.astro";
import CSSTransition from "../slides/part-1/css/transition/CSSTransition.astro";
import TechnicalIntro from "../slides/intro/TechnicalIntro.astro";
import RequestAnimationFrame from "../slides/part-1/vanilla-js/requestanimationframe/RequestAnimationFrame.astro";
import WebAnimationAPI from "../slides/part-1/vanilla-js/web-animation-api/WebAnimationAPI.astro";
---

<Layout
	title="Du CSS aux shaders WebGL : panorama des techniques d'animation en 2023"
>
	<main class="reveal">
		<div class="slides">
			<BlockMainThreadButtonCorner client:visible client:only />
			<Title />
			<TechnicalIntro />

			<!-- Part 1: native APIs -->
			<CSSTransition />
			<CSSAnimation />
			<RequestAnimationFrame />
			<WebAnimationAPI />

			<!-- Part 2: libraries -->
		</div>
	</main>
</Layout>
