---
import BlockMainThreadButtonCorner from "../components/BlockMainThreadButtonCorner.svelte";
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import CSSTransition from "../slides/css/transition/CSSTransition.astro";
import TechnicalIntro from "../slides/intro/TechnicalIntro.astro";
---

<Layout
	title="Du CSS aux shaders WebGL : panorama des techniques d'animation en 2023"
>
	<main class="reveal">
		<div class="slides">
			<BlockMainThreadButtonCorner client:visible client:only />
			<Title />
			<TechnicalIntro />
			<CSSTransition />
		</div>
	</main>
</Layout>
