---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
---

<Layout
	title="Du CSS aux shaders WebGL : panorama des techniques d'animation en 2023"
>
	<main class="reveal">
		<div class="slides">
			<Title />
		</div>
	</main>
</Layout>
