---
import BlockMainThreadButtonCorner from "../components/BlockMainThreadButtonCorner.svelte";
import Layout from "../layouts/Layout.astro";
import Title from "../slides/intro/Title.astro";
import CSSAnimation from "../slides/part-1/css/animation/CSSAnimation.astro";
import CSSTransition from "../slides/part-1/css/transition/CSSTransition.astro";
import TechnicalIntro from "../slides/intro/TechnicalIntro.astro";
import RequestAnimationFrame from "../slides/part-1/vanilla-js/requestanimationframe/RequestAnimationFrame.astro";
import WebAnimationAPI from "../slides/part-1/vanilla-js/web-animation-api/WebAnimationAPI.astro";
import Part1Title from "../slides/part-1/Part1Title.astro";
import Part2Title from "../slides/part-2/Part2Title.astro";
import Flip from "../slides/part-2/flip/Flip.astro";
import JSFrameworks from "../slides/part-2/js-frameworks/JSFrameworks.astro";
import JSLibraries from "../slides/part-2/js-libraries/JSLibraries.astro";
import Part3Title from "../slides/part-3/Part3Title.astro";
import Canvas2D from "../slides/part-3/canvas-2D/Canvas2D.astro";
import CanvasWebgl from "../slides/part-3/canvas-webgl/CanvasWebgl.astro";
import Accessibility from "../slides/part-4/Accessibility.astro";
import Part4Title from "../slides/part-4/Part4Title.astro";
import Why from "../slides/part-4/Why.astro";
import Breathe from "../slides/part-2/Breathe.astro";
---

<Layout
	title="Du CSS aux shaders WebGL : panorama des techniques d'animation en 2023"
>
	<main class="reveal">
		<div class="slides">
			<BlockMainThreadButtonCorner client:visible client:only />
			<Title />
			<TechnicalIntro />

			<!-- Part 1: native APIs -->
			<Part1Title />
			<CSSTransition />
			<CSSAnimation />
			<WebAnimationAPI />
			<RequestAnimationFrame />

			<!-- Part 2: libraries -->
			<Part2Title />
			<Flip />
			<JSFrameworks />
			<JSLibraries />
			<Breathe />

			<!-- Part 3 : Canvas -->
			<Part3Title />
			<Canvas2D />
			<CanvasWebgl />

			<!-- Part 4 : Outro -->
			<Part4Title />
			<Why />
			<Accessibility />
		</div>
	</main>
</Layout>
