---
import CodeBlock from "../../../../components/CodeBlock.astro";
import FlexContainer from "../../../../components/FlexContainer.astro";
import Slide from "../../../../components/Slide.astro";

const { title } = Astro.props;
const subSectionTitle = "Fade in";
---

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<FlexContainer gap="40px">
		<span class="card primary inert" style="--index:0"></span>
		<span class="card primary inert" style="--index:1"></span>
		<span class="card primary inert" style="--index:2"></span>
		<span class="card primary inert" style="--index:3"></span>
	</FlexContainer>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<CodeBlock lang="css" lines="|1-6|8-11">
		{
			`@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
}

.card {
  animation: fadeIn 800ms ease-out backwards;
  animation-delay: calc(500ms + var(--index) * 100ms);
}`
		}
	</CodeBlock>
</Slide>

<style lang="scss">
	.card {
		animation: fadeIn 800ms var(--ease-out) backwards;
		animation-delay: calc(500ms + var(--index) * 100ms);
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(15%);
		}
	}
</style>
