---
import CodepenSource from "../../../../components/CodepenSource.astro";
import Slide from "../../../../components/Slide.astro";
import svg from "./SVGAnimation.svg?raw";

const { title } = Astro.props;
const subSectionTitle = "Animation SVG";
---

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<!-- Copyright (c) 2023 by Mandy (https://codepen.io/iNeedAdult/pen/ZEQqyMg) -->
	<CodepenSource
		pseudo="Mandy"
		name="CSS-only SVG animation"
		url="https://codepen.io/iNeedAdult/pen/ZEQqyMg"
	/>

	<span class="gradient"></span>
	<div id="svg-bus-animation">
		<Fragment set:html={svg} />
	</div>
</Slide>

<style lang="scss" is:global>
	#svg-bus-animation {
		display: contents;

		/*
		* Animation styling
		*/
		#road1 {
			animation: pageExit 1s linear forwards infinite;
		}

		#road2 {
			animation: pageEnter 1s linear forwards infinite;
		}

		#terrain1 {
			animation: pageEnter 2s linear forwards infinite;
		}

		#terrain2 {
			animation: pageExit 2s linear forwards infinite;
		}

		#mountains1 {
			animation: pageEnter 6s linear forwards infinite;
		}

		#mountains2 {
			animation: pageExit 6s linear forwards infinite;
		}

		#clouds1 {
			animation: pageEnter 12s linear forwards infinite;
		}

		#clouds2 {
			animation: pageExit 12s linear forwards infinite;
		}

		#van-body {
			animation: bounce 0.3s forwards infinite;
		}

		/*
		* Keyframes
		*/
		@keyframes pageExit {
			from {
				transform: translateX(0%);
			}
			to {
				transform: translateX(100%);
			}
		}

		@keyframes pageEnter {
			from {
				transform: translateX(-100%);
			}
			to {
				transform: translateX(0%);
			}
		}

		@keyframes bounce {
			from {
				transform: translateY(0);
			}
			to {
				transform: translateY(5px);
			}
		}

		svg {
			position: relative;
		}

		/*
		* SVG styles
		*/
		.st0 {
			fill: var(--background-page);
		}
		.st1 {
			fill: none;
			stroke: color(primary, 700);
			stroke-width: 8;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}
		.st2 {
			display: none;
		}
		.st3 {
			display: inline;
			fill: #fdc858;
		}
		.st4 {
			fill: none;
			stroke: color(gray, 400);
			stroke-width: 8;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}
		.st5 {
			fill: #fdc858;
		}
		.st6 {
			fill: #ffffff;
			stroke: color(gray, 400);
			stroke-width: 8;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}
		.st7 {
			fill: none;
			stroke: color(gray, 400);
			stroke-width: 7.4637;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}
		.st8 {
			opacity: 0.56;
			fill: #fdc858;
		}
		.st9 {
			fill: color(primary, 800);
		}
		.st10 {
			fill: color(primary, 500);
		}
		.st11 {
			opacity: 0.36;
		}
		.st12 {
			opacity: 0.36;
			fill: color(primary, 500);
		}
		.st13 {
			opacity: 0.25;
		}
		.st14 {
			fill: #ffffff;
		}
		.st15 {
			fill: #d8d8d8;
		}

		.st16 {
			opacity: 0.48;
			fill: none;
			stroke: color(primary, 700);
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}
		.st17 {
			fill: none;
			stroke: color(primary, 700);
			stroke-width: 4;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-miterlimit: 10;
		}

		// Added for the slide
		svg {
			margin-bottom: -10%;
		}
	}
</style>
