---
import Slide from "../../../../components/Slide.astro";

const { title } = Astro.props;
---

<Slide>
	<h1>{title + " "}</h1>
</Slide>

<Slide>
	<h1>{title + " "}</h1>
	<p>
		Usage: similaire aux transitions et animations CSS, mais contrôlables
		finement en javascript
	</p>
</Slide>
