---
import Slide from "../../../../components/Slide.astro";
import WAAPIGraph from "./WAAPIGraph.svelte";
import WAAPIIntro from "./WAAPIIntro.astro";
import WAAPIRecap from "./WAAPIRecap.astro";
import ControlingExecution from "./sections/ControlingExecution.astro";
import Usage from "./sections/Usage.astro";

const title = "Web Animation API";
---

<section>
	<WAAPIIntro title={title} />

	<Usage title={title} />
	<ControlingExecution title={title} />

	<!-- <WAAPIRecap title={title} /> -->

	<Slide>
		<WAAPIGraph />
	</Slide>
</section>
