---
interface Props {
	direction?: "row" | "column";
	gap?: string;
}
const { direction = "row", gap } = Astro.props;
---

<div class:list={["container", direction]} style={gap ? { gap } : null}>
	<slot />
</div>

<style lang="scss">
	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		&.column {
			flex-direction: column;
		}
	}
</style>
