---
import Slide from "../../components/Slide.astro";
import RenderingPipeline from "./RenderingPipeline.astro";
import WhyAnimate from "./WhyAnimate.astro";

const title = "Avant de commencer...";
---

<Slide>
	<h1>{title + " "}</h1>
</Slide>

<WhyAnimate title={title} />
<RenderingPipeline title={title} />
