---
import Slide from "../../components/Slide.astro";
import BlockCPUButton from "./BlockCPUButton.astro";

const title = "Bases techniques";
---

<section>
	<Slide>
		<h1>{title + " "}</h1>
	</Slide>

	<BlockCPUButton title={title} />
</section>
