---
import Slide from "../../components/Slide.astro";
import DOMandCanvas from "./DOMandCanvas.astro";
import RenderingPipeline from "./RenderingPipeline.astro";

const title = "Avant de commencer...";
---

<Slide>
	<h1>{title + " "}</h1>
</Slide>

<DOMandCanvas title={title} />
<RenderingPipeline title={title} />
