---
import Slide from "../../components/Slide.astro";

const { title } = Astro.props;
const subSectionTitle = "Pourquoi faire des animations ?";
---

<section>
	<Slide sectionTitle={title}>
		<h1>{subSectionTitle + " "}</h1>
	</Slide>

	<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
		<ul>
			<li>Faciliter la <strong>compréhension</strong></li>
			<li class="fragment">Apporter de la <strong>fluidité</strong></li>
			<li class="fragment">Donner du <strong>feedback</strong></li>
			<li class="fragment">Exprimer son <strong>image de marque</strong></li>
			<li class="fragment">...</li>
		</ul>
	</Slide>
</section>

<style>
	ul {
		font-size: 1.5em;
	}
	li {
		line-height: 1.5;
	}
</style>
