---
import CodeBlock from "../../../components/CodeBlock.astro";
import SlideDemo from "../../../components/SlideDemo.astro";

const { title } = Astro.props;
const subSectionTitle = "Exemple minimal";
---

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<p>
		<span class="demo">Bonjour 👋</span>
	</p>
</SlideDemo>

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<p>
		<span class="demo">Bonjour 👋</span>
	</p>
	<CodeBlock lang="css" lines="|2|3|5-7|"
		>{
			`.demo {
  background-color: lightblue;
  transition: background-color 300ms ease-out;

  &:hover {
    background-color: blue;
  }
}`
		}</CodeBlock
	>
</SlideDemo>

<style lang="scss">
	p {
		display: flex;
	}

	.demo {
		cursor: pointer;
		padding: 1em 1.5em;
		color: white;
		border-radius: 0.25em;
		background: color(primary, 400);
		box-shadow: var(--shadow-md);
		@include gradient-idle(primary);

		&:hover {
			@include gradient-hover(primary);
		}
	}
</style>
