---
import CodeBlock from "../../../components/CodeBlock.astro";
import SlideDemo from "../../../components/SlideDemo.astro";

const { title } = Astro.props;
const subSectionTitle = "La translation";
---

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<div class="container">
		<p><span class="card gray inert"></span></p>
		<p>
			<label>
				<span class="fragment border"></span>
				<input type="checkbox" />
				<span class="card primary">Clique !</span>
			</label>
		</p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
	</div>
</SlideDemo>

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<CodeBlock lang="css"
		>{
			`.demo {
  transition: transform 800ms ease-in-out;

  &:checked {
    transform: translateX(80%);
  }
}`
		}</CodeBlock
	>
</SlideDemo>

<style lang="scss">
	.card.primary {
		background: gradient(success, 700, 500);
		transition: transform 800ms var(--ease-in-out);
	}

	label input:checked + .primary {
		transform: translateX(80%);
	}

	.border {
		pointer-events: none;
		position: absolute;
		inset: 0;
		border: 0.15rem dashed black;
		border-radius: 0.25em;
		z-index: -1;
	}

	.container {
		display: flex;
		align-content: flex-start;
		margin-top: 30vh;
		min-height: 70vh;
		gap: 1em;
		flex-wrap: wrap;
		max-width: calc(4 * (8rem) + 3 * 1em);
	}
</style>
